g.cuwire text {
	fill: white;
	font-family: sans-serif;
}

g.cuwire .alt text {
	fill: silver;
}

g.cuwire rect {
	fill: gray;
	stroke: silver;
}

g.cuwire .gnd rect {
	fill: black;
	stroke: silver;
}

g.cuwire .digital rect {
	fill: #065598;
	stroke: silver;
}

g.cuwire .analog-rw rect {
	fill: #640064;
	stroke: silver;
}

g.cuwire .analog rect {
	fill: #b204b2;
	stroke: silver;
}

g.cuwire .spi rect {
	fill: #31dcfc;
	stroke: silver;
}

g.cuwire .uart rect {
	fill: #4af772;
	stroke: silver;
}

g.cuwire .i2c rect {
	fill: #ff9a25;
	stroke: silver;
}

g.cuwire .pcint rect {
	fill: #ffffcc;
	stroke: silver;
}

g.cuwire .pcint text, g.cuwire .spi text, g.cuwire .i2c text, g.cuwire .uart text {
	fill: #454343;
}

g.cuwire .spi.alt text, g.cuwire .i2c.alt text, g.cuwire .uart.alt text {
	fill: #9a9a9a;
}
g.cuwire .power rect {
	fill: red;
	stroke: silver;
}

g.cuwire .system rect {
	fill: white;
	stroke: silver;
}

g.cuwire .system text {
	fill: black;
}

g.cuwire line, g.cuwire path {
	fill: none;
	stroke: silver;
	stroke-linecap: round;
}
